* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  padding-right: 5%;
}

.logo img {
  max-width: 120px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
  font-size: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

nav ul li a.active {
  color: orange;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: black;
  color: white;
}

.shop-title {
  text-align: center;
  margin-top: 10px;
}

.shop-title h1 {
  font-size: 12.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: -10px;
  text-align: left;
}

.shop-title p {
  font-size: 1.5rem;
  color: orange;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin: 40px 20px;
}

.shop-item {
  background-color: #1a1a1a;
  border-left: 6px solid orange;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.shop-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.shop-item h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 10px;
}

.shop-item .price {
  font-size: 1.2rem;
  color: orange;
  margin-bottom: 10px;
}

.shop-item .description {
  font-size: 1rem;
  color: #e0e0e0;
}

footer {
  background-color: orange;
  color: black;
  padding: 10px 40px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 5%;
}

.footer-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-left,
.footer-right {
  font-size: 1rem;
}

.footer-left p {
  font-weight: bold;
}

.footer-right p {
  text-align: right;
}